IMAGE_NAME=f77pipeline-dev:gnu4.8.5
BASE_IMAGE=quay.io/rockylinux/rockylinux:8.10@sha256:e8a49c5403b687db05d4d67333fa45808fbe74f36e683cec7abb1f7d0f2338c6
BUILD_JOBS=4
HOST_UID=1000
HOST_GID=1000

F77_SOURCE_HOST=/path/to/code

ASTROMETRY_CAT_HOST=/path/to/astrometry/catalog
ASTROMETRY_CAT_CONTAINER=/data/catalogs/AstroDir

SOURCE_CAT_HOST=/path/to/source/catalog
SOURCE_CAT_CONTAINER=/data/catalogs/ExtSrcDir

FLAT_PATH_HOST=/path/to/flat/calibration
FLAT_PATH_CONTAINER=/data/calib/FlatDir

PROCESS_DATA_HOST=/path/to/processing/data
PROCESS_DATA_CONTAINER=/data/DataProcess
